:root {
  --theme: #257;
  --dark-theme: #123;
  --bright-theme: #888;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  background-color: var(--dark-theme);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.board {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  margin-top: 6vmin;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 88vmin;
  height: 88vmin;
}

.card {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  margin-top: 6vmin;
  width: 30vmin;
  height: 88vmin;
  background-color: var(--theme);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fight {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  margin-top: 1vmin;
  background-color: var(--dark-theme);
  font-weight: bold;
  font-size: 1em;
  width: 28vmin;
  height: 6vmin;
  border: none;
}

#checkbox {
  opacity: 0;
  position: absolute;
}

.layer_1 {
  margin-top: 2vmin;
  fill: #000;
}

#checkbox:checked+.label .layer_1 {
  fill: #fff;
}

.fight:focus {
  outline: none;
  box-shadow: none;
}

.fight:hover {
  outline: none;
  color: var(--theme);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11vmin;
  height: 11vmin;
}

.black {
  background-color: var(--theme);
}

.white {
  background-color: var(--bright-theme);
}
