:root {
  --theme: #257;
  --dark-theme: #123;
  --bright-theme: #888;
  --board-width: 56vw;
  --board-height: 80vh;
  --btn-width: 18vw;
  --btn-height: 5vh;
  --side-btn-width: 3vw;
  --middle-btn-width: 11vw;
  --first-btn-width: 14.5vw;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-theme);
  min-width: 100vw;
  min-height: 100vh;
}

.board {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: var(--board-width);
  height: var(--board-height);
  position: relative;
}

.read {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: ease-in opacity 2.5s;
  position: absolute;
  font-size: 2em;
  background-color: var(--theme);
  width: var(--board-width);
  height: var(--board-height);
  opacity: 0;
  z-index: -1;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 10vh;
}

.black {
  background-color: var(--theme);
}

.white {
  background-color: var(--bright-theme);
}

.card {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  margin-top: 10vh;
  width: 20vw;
  height: var(--board-height);
  background-color: var(--theme);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* buttons */
.btn {
  margin: 1vmin 0;
  width: var(--btn-width);
  height: var(--btn-height);
  display: flex;
  align-items: center;
}

/* one-part btn */
.one-part {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  background-color: var(--dark-theme);
  justify-content: center;
  border: none;
}

.one-part:hover {
  outline: none;
  color: var(--theme);
}

.one-part:focus {
  outline: none;
  box-shadow: none;
}

/* multiple-parts btns */
.parts {
  justify-content: space-between;
}

/* two-parts btn */
.first {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-theme);
  width: var(--first-btn-width);
  height: var(--btn-height);
}

.first:hover {
  color: var(--theme);
}

#color {
  background-color: var(--dark-theme);
  width: inherit;
  height: inherit;
  border: none;
  outline: none;
}

/* three-parts btns  */
.side {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-theme);
  width: var(--side-btn-width);
  height: var(--btn-height);
}

.side:active {
  box-shadow: none;
}

.up-down {
  width: 1.5vw;
  fill: #fff;
}

.side:hover .up-down {
  fill: var(--theme);
}

.middle {
  -webkit-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 3px 6px 28px -2px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-theme);
  width: var(--middle-btn-width);
  height: var(--btn-height);
}

.middle:hover {
  color: var(--theme);
}

@media (max-width: 819px) {
  :root {
    --board-height: 80vw;
    --board-width: 80vw;
    --btn-width: 78vw;
    --side-btn-width: 11vw;
    --middle-btn-width: 52vw;
    --first-btn-width: 65vw;
  }

  body {
    flex-direction: column;
  }

  .board {
    margin-top: 4vh;
  }

  .up-down {
    width: 4vw;
  }

  .square {
    width: 10vw;
    height: 10vw;
  }

  .card {
    margin-top: 4vh;
    width: var(--board-width);
    height: auto;
  }
}
/* keyFrames */
@keyframes opacity {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes colorShift {
  0% {
    fill: #000;
  }
  50% {
    fill: #fff;
  }
  100% {
    fill: #000;
  }
}

/*# sourceMappingURL=knights.css.map */
